include AUTHORS
include LICENSE
include README.rst
recursive-include profile/backends *
recursive-include profile/fixtures *
recursive-include profile/templates *
recursive-include profile/templatetags *
